extends layout

include mixins/_logPhotos

block content
  header.pageHeader
    h2.title
      a(href=`/log/${log.slug}`) #{log.name}

  section.pageContent.inner
    .card
      p 
        - const year = log.vehicle !== null ? log.vehicle.year : 'No vehicle associated'
        - const make = log.vehicle !== null ? log.vehicle.make : ''
        - const model = log.vehicle !== null ? log.vehicle.model : ''
        strong Vehicle: 
        span #{year} #{make} #{model} 
      p 
        strong Short Description: 
        span #{log.shortDescription}
      p 
        strong Long Description: 
        span #{log.longDescription}
      p 
        strong Date Started: 
        span #{h.moment(log.dateStarted).format("MMM Do YY")}
      p 
        strong Date Completed: 
        span #{h.moment(log.dateCompleted).format("MMM Do YY")}
      p 
        strong Date Entered into Log: 
        span #{h.moment(log.dateEntered).format("MMM Do YY")}
      p
        strong Date When Service is Due Next: 
        span #{h.moment(log.dateDue).format("MMM Do YY")}
      p
        strong Mileage When Service is Due Next: 
        span #{Number(log.mileageDue).toLocaleString()}
      p 
        strong Tools: 
        span #{log.tools.toString()}
      p 
        strong Parts: 
        span #{log.parts.toString()}
      p 
        strong Parts Cost: 
        span $#{log.partsCost}
      p 
        strong Labor Cost: 
        span $#{log.laborCost}
      p 
        strong Service Location: 
        span #{log.serviceLocation}
      p 
        strong Odometer: 
        span #{Number(log.odometer).toLocaleString()}

      if user && log.author.equals(user._id)
        a(href=`/log/${log._id}/edit` class='button editPencil') 
          != h.icon('pencil.svg')
          span Edit

      +logPhotos(log.photos)
