mixin logCard(log = {})
  .logEntry
    h2.title
      a(href=`/log/${log.slug}`) #{log.name}
    .logEntry__details
      p= log.shortDescription
      if user && log.author.equals(user._id)
        a.button(href=`/log/${log.slug}`) View
        a.button(href=`/log/${log._id}/edit`) Edit
      hr
      p= h.moment(log.dateCompleted).fromNow()
